section {
	width: 100vw;
	height: 100vh;
	background-color: #a7a7a7;
	text-align: center;
	.timer-content {
		padding: 20px;
		position: relative;
		width: 200px;
		height: 200px;
		border: 1px solid rgb(247, 13, 157);
		background-color: #858585;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
		.buttons {
			display: flex;
			justify-content: space-between;
			button {
				width: calc(50% - 5px);
				background-color: black;
				height: 50px;
				border: 1px solid rgb(247, 13, 157);
				color: rgb(247, 13, 157);
				border-radius: 10px;
			}
		}
		.seconds {
			font-size: 30px;
			margin-top: 30px;
			color: rgb(247, 13, 157);
		}
	}
}
